# Created by aicommit
.env
.env.*
.npmrc
.pypirc
.netrc
id_rsa
id_rsa.*
id_ed25519
id_ed25519.*
credentials
credentials.json
node_modules/
.next/
.nuxt/
dist/
build/
coverage/
target/
vendor/
*.7z
*.a
*.apk
*.avi
*.bin
*.bmp
*.bz2
*.class
*.dmg
*.doc
*.docx
*.dylib
*.eot
*.exe
*.gif
*.gz
*.heic
*.ico
*.jar
*.jpeg
*.key
*.lockb
*.mov
*.mp3
*.mp4
*.o
*.otf
*.p12
*.pfx
*.pem
*.ppt
*.pptx
*.rar
*.sqlite
*.sqlite3
*.tar
*.tgz
*.ttf
*.webm
*.webp
*.woff
*.woff2
*.xls
*.xlsx
*.xz
*.zip

# Added by aicommit after detecting protected files
/aicommit
/main

# Added by aicommit after detecting protected files
/bin/aicommit-darwin-amd64
/bin/aicommit-darwin-arm64
/bin/aicommit-linux-amd64
/bin/aicommit-linux-arm64
